Serverless/Serverless App with Dynamic Step Functions/statemachine/compareFacesStateMachine.asl.json
{
    "Comment": "A state machine that does mock Face Comparison.",
    "StartAt": "Get Target Images",
    "States": {
        "Get Target Images": {
            "Type": "Task",
            "Resource": "${GetTargetImagesFunctionArn}",
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.TaskFiled"
                    ],
                    "IntervalSeconds": 15,
                    "MaxAttempts": 5,
                    "BackoffRate": 1.5
                }
            ],
            "Next": "ProcessTasksMappedTask"
        },
        "ProcessTasksMappedTask": {
            "Type": "Map",
            "ItemsPath": "$.faceComparisonRequest",
            "MaxConcurrency": 0,
            "Iterator": {
                "StartAt": "CompareImagesStep",
                "States": {
                    "CompareImagesStep": {
                        "Type": "Task",
                        "Resource": "arn:aws:states:::aws-sdk:rekognition:compareFaces",
                        "Parameters": {
                            "SimilarityThreshold": "70",
                            "SourceImage": {
                                "S3Object": {
                                    "Bucket.$": "$.sourceBucketName",
                                    "Name.$": "$.sourceImage"
                                }
                            },
                            "TargetImage": {
                                "S3Object": {
                                    "Bucket.$": "$.targetBucketName",
                                    "Name.$": "$.targetImage"
                                }
                            }
                        },
                        "Catch": [
                            {
                                "ErrorEquals": [
                                    "States.ALL"
                                ],
                                "Next": "ProcessTaskErrorFallback"
                            }
                        ],
                        "ResultSelector": {
                            "FaceMatchesCount.$": "States.ArrayLength($.FaceMatches)",
                            "Input.$": "$"
                        },
                        "ResultPath": "$.Result",
                        "Next": "CheckIfMatchFound"
                    },                    
                    "CheckIfMatchFound": {
                        "Type": "Choice",
                        "Choices": [
                            {
                                "Variable": "$.Result.FaceMatchesCount",
                                "NumericGreaterThan": 0,
                                "Next": "Record Transaction"
                            },
                            {
                                "Variable": "$.Result.FaceMatchesCount",
                                "NumericEquals": 0,
                                "Next": "Skip"
                            }
                        ]
                    },
                    "Skip": {
                        "Type": "Succeed"
                    },
                    "Record Transaction": {
                        "Type": "Task",
                        "Resource": "${DDBPutItem}",
                        "Parameters": {
                            "TableName": "${DDBTable}",
                            "Item": {
                                "SourceImage": {
                                    "S.$": "$.sourceImage"
                                },
                                "TargetImage": {
                                    "S.$": "$.targetImage"
                                },
                                "BatchID": {
                                    "S.$": "States.UUID()"
                                },
                                "Result": {
                                    "S.$": "States.JsonToString($)"
                                }
                            }
                        },
                        "Retry": [
                            {
                                "ErrorEquals": [
                                    "States.TaskFailed"
                                ],
                                "IntervalSeconds": 20,
                                "MaxAttempts": 5,
                                "BackoffRate": 10
                            }
                        ],
                        "End": true
                    },
                    "ProcessTaskErrorFallback": {
                        "Type": "Fail",
                        "Cause": "Error when processing a task"
                    }
                }                
            },
            "ResultPath": null,
            "OutputPath": "$.faceComparisonRequest[0]",
            "Next": "CopyObject"
        },
        "CopyObject": {
            "Type": "Task",
            "Next": "DeleteObject",
            "ResultPath": null,
            "Parameters": {
                "Bucket": "${ProcessedBucketName}",
                "CopySource.$": "States.Format('photos-source-images/{}',$.sourceImage)",
                "Key.$": "$.sourceImage"
            },
            "Resource": "arn:aws:states:::aws-sdk:s3:copyObject"
        },
        "DeleteObject": {
            "Type": "Task",
            "End": true,
            "Resource": "arn:aws:states:::aws-sdk:s3:deleteObject",
            "Parameters": {
                "Bucket": "${UploadBucketName}",
                "Key.$": "$.sourceImage"
            }
        }
    }
}